#header{
	width:100%;
	height:100px;
	background-color:#F3FAB6;
}
.wrapper{
	width:100%;
	height:100%;
	background-color:#f5f5dc;
	overflow: auto;
}
#inner{
	height:500px;
	width:500px;
	background-color:#f6a812;
	
	margin:20px auto;
}
.squares{
	height:2%;
	width:2%;
	/*margin: 0% 0% 0% 0%;*/
	background-color: white;
	/*display:inline-block;*/
	float:left;
}

.btn-group{
	margin:10px auto;
	position:relative;
}
